.card-ad{
    margin: 10px 20px 10px 20px;
    padding: 20px;
    border-top: 1px solid rgb(212, 196, 196);
    border-bottom: 1px solid rgb(212, 196, 196);
}

#title{
    font-size: 16pt;
    font-weight: bold;
}

#company-name, #location, #created_at{
    font-size: 12pt;
    font-weight: lighter;
    margin-top: 5px;
}

#type{
    font-weight: bold;
    color: green;
}

.info-add{
    text-align: right;    
}

