.view-ad{
    background-color: rgb(238, 227, 227);
}

.ad-details{
    border-top: 5px solid rgb(248, 236, 236);
    margin-top: 15px;
    background-color: #fff;
    padding: 20px;
}

.ad-details > div:nth-of-type(1){
    font-size: 12pt;
    font-weight: lighter;
}